.navigation {
    padding: 30px;
    background-color: #191919;
    border-radius: 15px;
    color: #fff;
}

/* .create-post {
    margin: 20px;
    background-color: #59788E !important;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    /* text-align: center;
} */


.content {
    margin-left: 220px;
}

.navigation a {
    color: white;
  }

.navigation a:hover {
    color: #04d9ff !important;
}

.nav-link {
    background-color: transparent !important; /* Set the background to transparent */
    color: #fff !important; /* Set the text color (you can change this color) */
}

input {
    background-color: black!important;
    color: #fff !important;
    
}

input:hover {
    border: none !important;
    box-shadow: 0 0 5px 2px #04d9ff !important;
    
}

input:focus {
    border: none !important;
    box-shadow: 0 0 5px 2px #04d9ff !important;
    
}

::placeholder {
    color: white !important;
    opacity: 1; /* Firefox */
  }

