{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/sidebar_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sidebar</title>

</head>
<body>
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <input class="form-control" type="text" placeholder="Search">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Messages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Favorites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    {% if message %}
                        <div>
                            <p>{{ message }}</p>
                        </div>

                    {% endif %}
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>