<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
</head>
<body>
{% comment %}
    Friends
    <br>
    Logged in user : {{user.username}} 
    <br>
    Following
    <br>
    {% for user in following %}
    <span>-{{user}}</span><br>
    {% endfor %}
<br>
    Followers
    <br>  
    {% for user in followers %}
        <span>-{{user.username}}</span><br>
    {% endfor %}
<br>
{% endcomment %}
    Followers Back
    <br>  
    {% for user in followers_back %}
        <span>-{{user.username}}</span><br>
    {% endfor %}

</body>
</html>